{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To iiTrade</h1>
    <p class="lead">iiTrade is a web application that helps students of MSU-IIT to buy or sell any products, books, chemicals(for Chemistry Laboratory), gadgets, electronics materials and etc.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}